.nav {
    margin-top: 20px;
    grid-area: n;
    background-color: #bfe2fe;
    padding: 20px;


}


.item a{
    color: white;
    text-decoration: none;
}


.friends{
    display: flex;

}

.item a.activeLink{
    color: gold;
}